@font-face{
    src:url("Inter-VariableFont_opsz\,wght.ttf");
    font-family: "inter"
}

body{
    background-color: #1C1C1C;
    margin: none;
    color: #FFFFFF;
    text-align: center;
    font-family: inter;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#top{
    background-color: #6943FF;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
  
}


#input{
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #6943FF;
    width:117px;
    height:83px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;

    
}

#convert-btn{
    background-color: #FFFFFF;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    padding: 9px 39px;
    margin-bottom: 30px;
}

#bottom{
    background-color: #1F2937;
    width: 550px;
    padding-top: 10px;
    font-size: smaller;
    border-radius: 0 0 8px 8px;
    
}

#conversion-container{
    width: 400px;
    margin: 10px auto;
}

.container-back{
    background-color: #273549;
    border-radius: 5px;
}

.measurement-head{
    color: #CCC1FF;
    padding-top:30px;
}

.measurement-p{
    padding-bottom: 20px;
}

#mass-p{
    margin-bottom: 40px;
}